# Common IntelliJ Platform excludes
.ionide/**
# Rider
riderModule.iml
/_ReSharper.Caches/
public/build/

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/
*.trx

.idea
.DS_Store
.vscode
node_modules
*.map

Thumbs.db
Desktop.ini
.DS_Store
.VSCodeCounter
local.settings.json

node_modules
/src/compiler/compile/internal_exports.ts
/compiler.d.ts
/compiler.*js
/index.*js
/ssr.*js
/action
/internal
/store
/easing
/motion
/transition
/animate
/scratch/
/test/*/samples/_
/yarn-error.log
_actual*.*
_output
/types

.env.localdev